<h3><b><em><%= @brand.name %></em></b></h3>
<h4>Price: <%= @brand.price %></h4>


<p>Stores where brand is found:</p>
<% if @brand.stores.any? %>
  <% @brand.stores.each do |store| %>
    <li><a href="/store/<%= store.id %>"><%= store.name %></a></li>
  <% end %>
<% else %>
  <p><%= @brand.name %> currently not offered at any stores.</p>
<% end %>
<br>

<form action="/brand/<%= @brand.id %>/update" method="post">
  <input type="hidden" name="_method" value="patch">
  <input placeholder="<%= @brand.name %>" type="text" name="brand_name">
  <br><br>
  <button type="submit" class="btn btn-info">edit brand name</button>
</form>
<br>

<form action="/brand/<%= @brand.id %>/update_price" method="post">
  <input type="hidden" name="_method" value="patch">
  <input placeholder="<%= @brand.price %>" type="number" min="0.01" step="0.01" name="brand_price">
  <br><br>
  <button type="submit" class="btn btn-info">edit brand price</button>
</form>
<br>

<form class="" action="/brand/<%= @brand.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" href="/">liquidate brand</button>
</form>
<br>

<a href="/">Home</a>
